/**
 * SCSS Modules: Common
 * @project     resme
 * @since       1.0.0
 */
.alt-border{
	box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;
}

.alt-border-red{
	box-shadow: inset 1px -1px 1px red, inset -1px 1px 1px red;
}

.js .hide-if-js{
	display: none;
}

.hide-if-no-js,
.hide-if-no-js-db{
	display: none;
}

.js .hide-if-no-js{
	display: block;
}

.js .hide-if-no-js-db{
	display: inline-block;
}

.behave-table{
	display: table;
	width: 100%;
	height: 100%;
}

.behave-table-cell{
	display: table-cell;
	vertical-align: middle;
}
