/**
 * SCSS Modules: Variables
 * @project     resme
 * @author      Mayeenul Islam
 * @since       1.0.0
 */

$base-color: 	#333;
$text-color: 	#333;

$link-color: 	#337ab7;
$hover-color: 	darken($link-color, 10%);

$red-color: 	#e53d37;

$site-font: 	'roboto_condensedregular', 'Roboto', Calibri, Arial, Helvetica, sans-serif;
$bold-font: 	'roboto_condensedbold';
