/**
 * SCSS Modules: App
 * Main style file for the site.
 * 
 * @project     resme
 * @author      Mayeenul Islam
 * @since       1.0.0
 */

body{
    color: $text-color;
}

img{
    max-width: 100%;
    height: auto;
}
